body{
  width: 75vw;
  margin: auto;
}

#piano{
  height: 400px;
  background: wheat;
}

.key{
  height: 400px;
  width: 14.2857142857%;
  float: left;
  border: 5px solid black;
  border-right: none;
  background: white;
  text-align: center;
  padding-top: 300px;
}

#B{
  border-right: 5px solid black;
}